
h1 {
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 15px;


    
}
.img-fluid {
    margin-bottom: 15px;
}
.aboutus h1 {
    color: #ff8a84;
    font-size: 70px;
    font-weight: bold 10px;
}st